.App{
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Header {
  text-align: center;
}

.Header img {
width: 80%;
}

.Header p{
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
}

.Body{
  display: grid;
  grid-template-columns: 1fr 30px 1fr;  
  padding: 1rem;
  margin: 0;
}

.DogGroup img{
  display: flex;
  flex-direction: column;
  max-width: 90%;
  border: solid black 3px;
  list-style: none;
  text-align: center;
  padding: 0;
}

.DogGroup ul{
  padding: 0;
}

.DogGroup li{
  list-style: none;
  padding-bottom: 1rem;
}

.DogBreed {
  grid-column: 3;
}

.DogBreedList {
  text-align: center;
}

.DogBreedList img{
  grid-column: 3/4;
  max-width: 100%;
}