.App{
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Header {
  text-align: center;
}

.Header img {
width: 80%;
}

.Header p{
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
}

.Body{
  display: grid;
  grid-template-columns: 1fr 30px 1fr;  
  grid-template-rows: 1fr 1fr;
  padding: 1rem;
  margin: 0;
}

.DogGroup img{
  grid-column: 1/2;
  max-width: 90%;
  border: solid grey 2px;
  box-shadow: 8px 5px 5px gray;
  list-style: none;
  text-align: center;
  padding: 0;
}

.DogGroup ul{
  padding: 0;
}

.DogGroup li{
  list-style: none;
  padding-bottom: 1rem;
}

.DogGroupDetails {
  grid-column: 3/4;
  text-align: center;
  height: 10rem;
  max-width: 100%;
}

.DogBreed {
  grid-column: 3/4;
  grid-row: 1;
  text-align: center;
}

.DogBreedList {
  text-align: center;
}

.Buttons{
  text-align: center;
}

.DogBreedList img{
  grid-column: 3/4;
  max-width: 100%;
}

.UserSelectGroupImg img{
max-width: 90%;
border: solid grey 2px;
box-shadow: 8px 5px 5px gray;
padding: 0;

}

